  <!-- Plumbering-->	
 <app-header></app-header>
	<section class="btm-bar">
      <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
      <h1 class="about"><b>Plumbing Services</b></h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1><b>Plumbing Services – Qualified Plumbers in Leeds</b></h1>
    <p id="about">We offers both domestic and commercial qualified plumbers,
     we offer a highly professional service in Leeds, York, Sheffield and across the whole of the 
     north of England. Our services include fixing burst pipes and leaks, tap and toilet repair and more.
     Our 24 hour help desk is waiting to deal with your issue and have the technology to deploy
     the closest engineer to deal with all your emergency requirements.<br><br>
    
    We work with both domestic and commercial clients covering from a dripping tap in your 
    bathroom in your home to installing and repairing commercial pipe work. Please be assured 
    when tasking our company with a plumbing issue rest assured you are in the safest hands possible.
     Our aim is to complete your issue within a time that suits you as a client along with the lowest cost possible.
     If you require any more information please call our help desk today and our assistants
     will be happy to deal with any problems you may have.</p>
     <h4><b>Quick call-out</b></h4>
     <p>We offer a 24/7 emergency service and never charge a separate call out fee</p>
     <h4><b>Open, transparent cost</b></h4>
     <p>Our fee structure is open, honest and quoted in advance.
     If more work is needed or things change, we let you know first!<br><br>
    
    There is a minimum 1 hour charge when we come out. No separate callout fee – 
    this is all you pay for the first hour, no parking, travel costs or hidden extras.
    All further work is charged by the half hour.</p>
     <h4><b>We undertake the following</b></h4>
    <p><span class="glyphicon glyphicon-star"></span>Bathroom refurbishment</p>
    <p><span class="glyphicon glyphicon-star"></span>Blocked toilets, sinks pipes & drains</p>
    <p><span class="glyphicon glyphicon-star"></span>Burst pipes</p>
    <p><span class="glyphicon glyphicon-star"></span>Hot water problems</p>
    <p><span class="glyphicon glyphicon-star"></span>Kitchen refurbishment and replacements</p>
    <p><span class="glyphicon glyphicon-star"></span>Pipework replacement</p>
    <p><span class="glyphicon glyphicon-star"></span>Plumbing installations</p>
    <p><span class="glyphicon glyphicon-star"></span>Showers & pressure adjustments</p>
    <p><span class="glyphicon glyphicon-star"></span>Unvented water cylinders</p>
    <p><span class="glyphicon glyphicon-star"></span>Water heater repairs & installs</p>
     </div>
    <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
    <div class="bok">
        <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
        <h4><b>+923046080781</b></h4><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
        <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name"required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number"required>
            </div>
          </div>			
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
    
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
        </div>
        </div>
        <h5 id="oneclr"><b>No call out fees</b></h5>
        <h5 id="secclr"><b>24 hour emergency service</b></h5>
        <h5 id="oneclr"><b>Half hourly charging</b></h5>
        <h5 id="secclr"><b>Highly competitive rates</b></h5>
        <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
        <h5 id="secclr"><b>Accredited expert engineers</b></h5>
        <h5 id="oneclr"><b>Fast response times</b></h5>
        </div>
    </div>	
    </section>
    