.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 40%;
        z-index: -1;
}
 .carousel-inner img {
    width:100%;
	min-height:400px;
	max-height: 400px;
	padding-top:10px;
  }
  .carousel-caption h2,h3,p{
	  color:black;
	  margin-left:10px;
	  text-align: justify;
  }
.bok{
	margin-top:5px;
	background-color:rgb(217,221,223);
	border-radius:10px;
	text-align:center;
	justify-content:center;
}
.bok .hed{
	background-color:rgb(181,181,182);
	border-radius:15px;
}
.bok input[type=text],[type=email], .btn{
	font-size:11px;
	}
.navbar{
	margin-bottom:0px !important;
	border:none !important;
	height:100%;
	font-size:16px;
	font-weight:bold;
	padding-top:10px;
	padding-bottom:10px;
	background:white;
}

.navbar span{
border:none !important;	
}