<div id="demo" class="carousel slide" data-ride="carousel" >
				
  <ol class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="images/img0.jpg" alt="Property Maintenance">
      <div class="carousel-caption col-md-4 col-sm-4" style="top:10%; left:10%;">
        <h3><b>Domestic & Commercial Property Maintenance</b></h3>
        <p>We can install, fix, upgrade and maintain your property,
		keeping it in tip top condition at all times</p>
      </div>   
	</div>
    <div class="item">
      <img src="images/img.jpg" alt="Emergency Service">
      <div class="carousel-caption col-md-4 col-sm-4" style="top:10%; left:10%;">
       <h3><b>24 hour emergency service</b></h3>
	   <p>Whatever the time from Monday through to Sunday,
	   we guarantee that you will receive the same
	   high level of service that we provide our 
	   customers during normal working hours</p>
      </div>   
    </div>
    <div class="item">
      <img [src]="img1/img0.jpg" alt="Trust Service">
      <div class="carousel-caption col-md-4 col-sm-4" style="top:10%; left:10%;">
      <h3><b>A Dependable Service You Can Trust</b></h3>
	  <p>Our skilled engineers get
	  the job done quickly and efficiently, 
	 and making our clients’ lives easier.</p>
      </div>   
    </div>
	 <div class="item">
      <img [src]="img1/img06.jpg" alt="Electrician">
      <div class="carousel-caption col-md-4 col-sm-4" style="top:10%; left:10%;">
      <h3><b>We look after your electrics</b></h3>
        <p>From mending a lamp to rewiring a whole building,
		our qualified electricians can take care of it for you.</p>
      </div>   
    </div>
  </div>
  <a class="left carousel-control" href="#demo" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#demo" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
	