

<nav class="navbar navbar-expand-lg navbar-default">		
    <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="new1.html" class="navbar-brand" style="padding-top:0px;">
<img src="img1/logo.png" alt="Logo" style="width:70px;"></a>
    </div>
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right:3px;">
    <form class="navbar-form navbar-left">
  <div class="input-group">
  <input type="text" id="search" class="form-control" placeholder="Find Services">
<span class="input-group-btn">
<button type="button" class="btn btn-success"><span class="glyphicon glyphicon-search"style="color:white;padding:3px;"></span></button>
</span>
  </div>
  </form>	
      <li><a href="new1.html" class="active">Home</a></li>
      <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>
      <ul class="dropdown-menu">					
        <li><a href="Carpenter.html" class="dropdown-item">Carpenter</a></li>
        <li><a href="paint.html" class="dropdown-item">Decorator</a></li>
        <li><a href="plumber.html" class="dropdown-item">Plumber</a></li>
        <li><a href="gas.html" class="dropdown-item">Gas</a></li>
        <li><a href="roofing.html" class="dropdown-item">Roofing</a></li>
        <li><a href="handyman.html" class="dropdown-item">HandyMan</a></li>
        <li><a href="lock.html" class="dropdown-item">Locks</a></li>
        <li><a href="alarm.html" class="dropdown-item">Alarms</a></li>
        <li><a href="clean.html" class="dropdown-item">Cleaner</a></li>
        <li><a href="other.html" class="dropdown-item">Others</a></li>
      </ul>
      </li>
      <li><a href="about.html" class="active">About Us</a></li>
      <li><a href="#" data-toggle="modal" data-target="#popupLoginform">
        Sign In</a></li>
      <li><a href="#" data-toggle="modal" data-target="#popupJoinform">Join</a></li>
    </ul>
    </div>
  </nav>

