#foot {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    overflow: hidden;
    color:green;
    background:white;
    font-size:16px;
    font-weight:bold;
    border-top:.2px solid gray;
  }
  #foot a {
    color:black;
  }
  #foot ul > li {
    display: inline-block;
    margin-left: 15px;
  }