
    <footer id="foot">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-xs-6">
                  &copy; 2018 <a routerLink="/home" title=" Waheed Shahzad">Resource Center</a>. All Rights Reserved.
              </div>
              <div class="col-sm-6 col-xs-6">
                  <ul class="pull-right">
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/serv" >Services </a> </li>
                      <li><a routerLink="/about">About Us</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#popupLoginform">Sign In</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#popupJoinform">Join</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>

