

<footer id="foot">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-6">
                &copy; 2018 <a href="new1.html" title=" Waheed Shahzad">Resource Center</a>. All Rights Reserved.
            </div>
            <div class="col-sm-6 col-xs-6">
                <ul class="pull-right">
                    <li><a href="new1.html">Home</a></li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Services <b class="caret"></b></a>
    <ul class="dropdown-menu">					
      <li><a href="Carpenter.html" class="dropdown-item">Carpenter</a></li>
      <li><a href="paint.html" class="dropdown-item">Decorator</a></li>
      <li><a href="plumber.html" class="dropdown-item">Plumber</a></li>
      <li><a href="gas.html" class="dropdown-item">Gas</a></li>
      <li><a href="roofing.html" class="dropdown-item">Roofing</a></li>
      <li><a href="handyman.html" class="dropdown-item">HandyMan</a></li>
      <li><a href="lock.html" class="dropdown-item">Locks</a></li>
      <li><a href="alarm.html" class="dropdown-item">Alarms</a></li>
      <li><a href="clean.html" class="dropdown-item">Cleaner</a></li>
      <li><a href="other.html" class="dropdown-item">Others</a></li>
    </ul>
    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#popupLoginform">Sign In</a></li>
        <li><a href="#" data-toggle="modal" data-target="#popupJoinform">Join</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

