	<!-- Others paragraph-->	
  <div class="container-fluid">
  <section class="btm-bar">
      <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
      <h1 class="about"><b>General Construction</b></h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1><b>General Construction and Services</b></h1>
    <p id="about">We are the ultimate one stop shop for all your building maintenance issues; 
    from daily maintenance to emergency repairs we are able to solve your property issues with the minimum of fuss.<br><br>
    We’ve helped with tenant build out, interior and exterior renovations, paint and carpet overhauls, and much more.
    You’ll also have an on-site project manager to ensure you receive the high quality construction and customer service you need.<br><br></p>
     <h4><b>Quick call-out</b></h4>
     <p>We offer a 24/7 emergency service and never charge a separate call out fee</p>
     <h4><b>Open, transparent cost</b></h4>
     <p>Our fee structure is open, honest and quoted in advance.
     If more work is needed or things change, we let you know first!<br><br>
    There is a minimum 1 hour charge when we come out. No separate callout fee – 
    this is all you pay for the first hour, no parking, travel costs or hidden extras.
    All further work is charged by the half hour.</p>
     <h4><b>We undertake the following</b></h4>
    <p><span class="glyphicon glyphicon-star"></span> General Construction</p>
    <p><span class="glyphicon glyphicon-star"></span> Construction and Project Management</p>
    <p><span class="glyphicon glyphicon-star"></span> Build-outs</p>
    <p><span class="glyphicon glyphicon-star"></span> Plumbing</p>
    <p><span class="glyphicon glyphicon-star"></span> Electrical</p>
    <p><span class="glyphicon glyphicon-star"></span> Mechanical</p>
    <p><span class="glyphicon glyphicon-star"></span> Construction Cleaning</p>
    <p><span class="glyphicon glyphicon-star"></span> Flooring</p>
    <p><span class="glyphicon glyphicon-star"></span> Finishing Carpentry</p>
    <p><span class="glyphicon glyphicon-star"></span> Framing</p>
    <p><span class="glyphicon glyphicon-star"></span> Paint etc.</p>
     </div>
    <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
    <div class="bok">
        <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
        <h4><b>+923046080781</b></h4><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
        <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name"required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number"required>
            </div>
          </div>			
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
    
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
        </div>
        </div>
        <h5 id="oneclr"><b>No call out fees</b></h5>
        <h5 id="secclr"><b>24 hour emergency service</b></h5>
        <h5 id="oneclr"><b>Half hourly charging</b></h5>
        <h5 id="secclr"><b>Highly competitive rates</b></h5>
        <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
        <h5 id="secclr"><b>Accredited expert engineers</b></h5>
        <h5 id="oneclr"><b>Fast response times</b></h5>
        </div>
    </div>	
    </section>
  
  </div>  