<div class="row srvc-bar">
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="Carpenter.html"><img [src]="carpanter.png"/>
	<p><b>Carpenter</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="electric.html"><img src="img2/elc.jpg">
	<p><b>Electrics</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="paint.html"><img src="img2/pa.jpg">
	<p><b>Decorator</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="Maintenance.html"><img src="img2/ha.jpg">
	<p><b>Maintenance</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="plumber.html"><img src="img2/plu.png">
	<p><b>Plumber</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="gas.html"><img src="img2/pi.jpg">
	<p><b>Gas</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="security.html"><img src="img2/secu.jpg">
	<p><b>Security</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="roofing.html"><img src="img2/dril.jpg">
	<p><b>Roofing</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="handyman.html"><img src="img2/wr.jpg">
	<p><b>Handyman</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="lock.html"><img src="img2/key.jfif">
	<p><b>Locks</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="alarm.html"><img src="img2/alrm.jfif">
	<p><b>Alarms</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a href="other.html"><img src="img2/app.jpg">
	<p><b>Others</b></p>
	</a>
	</div>
	</div>
	