<div class="row srvc-bar">
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/carpenter"><img src="assets/servicebar/carp.jpg"/>
	<p><b>Carpenter</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/electric"><img src="assets/servicebar/elc.jpg">
	<p><b>Electrics</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/paint"><img src="assets/servicebar/pa.jpg">
	<p><b>Decorator</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/maintenance"><img src="assets/servicebar/ha.jpg">
	<p><b>Maintenance</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/plumber"><img src="assets/servicebar/plu.png">
	<p><b>Plumber</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/gas"><img src="assets/servicebar/pi.jpg">
	<p><b>Gas</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/security"><img src="assets/servicebar/secu.jpg">
	<p><b>Security</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/roof"><img src="assets/servicebar/dril.jpg">
	<p><b>Roofing</b></p>
	</a></div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/handyman"><img src="assets/servicebar/wr.jpg">
	<p><b>Handyman</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/lock"><img src="assets/servicebar/key.jfif">
	<p><b>Locks</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/alarm"><img src="assets/servicebar/alrm.jfif">
	<p><b>Alarms</b></p>
	</a>
	</div>
	<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 colum">
	<a routerLink="/others"><img src="assets/servicebar/app.jpg">
	<p><b>Others</b></p>
	</a>
	</div>
	</div>
	