		
	<!-- Electriction-->	
	<section class="btm-bar">
      <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
      <h1 class="about"><b>Electric Services</b></h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1><b>Electric Services – Electrical Repair in Leeds</b></h1>
    <p id="about">we have since been providing top quality electrical services to both domestic and commercial customers.
     We have worked hard to build up our excellent reputation. All of our electricians are City & 
     Guild qualified and have years of experience in the industry. From small electrical installations to 
     full rewiring contracts our team can carry out the work, on time at a competitive price. 
     We pride ourself in not just the quality of our work but also our customer service.
     From the minute you make contact with our help desk, either by phone or online you will receive first class customer care.<br><br>
    
    As well as an emergency service, we offer electrical repair and installation services.
     We can sort any issues you have with old, unreliable or damaged wiring, installation of appliances, sockets and lighting.
     We have the specialist knowledge to meet current regulations on kitchen and bathroom electrical installations.
     Contact us to arrange an inspection or discuss your needs.</p>
     <h4><b>Quick call-out</b></h4>
     <p>We offer a 24/7 emergency service and never charge a separate call out fee</p>
     <h4><b>Open, transparent cost</b></h4>
     <p>Our fee structure is open, honest and quoted in advance.
     If more work is needed or things change, we let you know first!<br><br>
    
    There is a minimum 1 hour charge when we come out. No separate callout fee – 
    this is all you pay for the first hour, no parking, travel costs or hidden extras.
    All further work is charged by the half hour.</p>
     <h4><b>We undertake the following</b></h4>
    <p><span class="glyphicon glyphicon-star"></span> Maintenance and repairs</p>
    <p><span class="glyphicon glyphicon-star"></span> Lighting and Power Installations</p>
    <p><span class="glyphicon glyphicon-star"></span> Partial or Complete Rewirings</p>
    <p><span class="glyphicon glyphicon-star"></span> Replace fuses</p>
    <p><span class="glyphicon glyphicon-star"></span> Security and outdoor lighting</p>
    <p><span class="glyphicon glyphicon-star"></span> Electric storage Heaters/ Radiators</p>
    <p><span class="glyphicon glyphicon-star"></span> Fault finding</p>
    <p><span class="glyphicon glyphicon-star"></span> Light points & Additional Socket</p>
    <p><span class="glyphicon glyphicon-star"></span> PAT Testing</p>
     </div>
    <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
    <div class="bok">
        <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
        <h4><b>+923046080781</b></h4><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
        <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name"required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number"required>
            </div>
          </div>
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
    
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
        </div>
        </div>
        <h5 id="oneclr"><b>No call out fees</b></h5>
        <h5 id="secclr"><b>24 hour emergency service</b></h5>
        <h5 id="oneclr"><b>Half hourly charging</b></h5>
        <h5 id="secclr"><b>Highly competitive rates</b></h5>
        <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
        <h5 id="secclr"><b>Accredited expert engineers</b></h5>
        <h5 id="oneclr"><b>Fast response times</b></h5>
        </div>
    
      </div>	
    </section>
    