	<!--tab panel-->
  <div class="container-fluid">
  <div>
    <h1><b>Gigs</b></h1>
      <!--toggle button-->
          <div class="aceptGig pull-right">
            <label>Accepting Custom Orders </label>
            <input type="checkbox" name="chkGigAcept" checked>
          </div>
          </div>
    <br><br>
    <!--gigs list view-->
      <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#gigActive">ACTIVE</a></li>
      <li><a data-toggle="tab" href="#menu1">PENDING APPROVAL</a></li>
      <li><a data-toggle="tab" href="#menu2">REQUIRES MODIFICATION</a></li>
      <li><a data-toggle="tab" href="#menu3">DRAFT</a></li>
    <a routerLink="/create_gig" class="btn btn-success pull-right">CREATE A NEW GIG</a>
    </ul>
  <div class="container listContain">
    <div class="tab-content">
      <div id="gigActive" class="tab-pane fade in active">
     <div id="listGigHead">
     <h5 class="pull-left">ACTIVE GIGS</h5>
     </div>
     <div id="listGigBody">
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="checkbox" name="slctGig">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        <P>GIG</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>CLICKS</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>VIEWS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>ORDERS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>CANCELLATIONS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
      </div>
     <div id="listGigFoter">
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="checkbox" name="slctGig1">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        <a>I will develop front end design for your website</a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <samp>1</samp>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <samp>1</samp>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <samp>1</samp>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <samp> 0%</samp>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
      <div class="dropdown">
        <a class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown">
        <span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#" class="dropdown-item"> PREVIEW</a></li>
      <li><a href="#" class="dropdown-item"> EDIT</a></li>
      <li><a href="#" class="dropdown-item"> PAUSE</a></li>
      <li><a href="#" class="dropdown-item"> DELETE</a></li>
        </ul>
      </div> 
        </div>
    </div>
    </div>
    
    </div>
      <div id="menu1" class="tab-pane fade">
    <div id="listGigHead">
     <h5 class="pull-left">GIGS PENDING APPROVAL</h5>
     </div>
     <div id="listGigBody">
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="checkbox" name="slctGig">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        <P>GIG</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>CLICKS</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>VIEWS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>ORDERS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>CANCELLATIONS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
      </div>
     <div id="listGigFoter">
    <p> No Pending gigs to show.</p>
      </div>
    </div>
      <div id="menu2" class="tab-pane fade">
    <div id="listGigHead">
     <h5 class="pull-left">GIGS PENDING APPROVAL</h5>
     </div>
     <div id="listGigBody">
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="checkbox" name="slctGig">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        <P>GIG</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>CLICKS</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>VIEWS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>ORDERS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>CANCELLATIONS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
      </div>
     <div id="listGigFoter">
    <p> No gigs which require modification to show.</p>
      </div>
      
     </div>
      <div id="menu3" class="tab-pane fade">
       <div id="listGigHead">
     <h5 class="pull-left">GIGS PENDING APPROVAL</h5>
     </div>
     <div id="listGigBody">
     <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
        <input type="checkbox" name="slctGig">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
        <P>GIG</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>CLICKS</P>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1">
        <P>VIEWS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>ORDERS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        <P>CANCELLATIONS</P>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
        </div>
      </div>
      </div>
     <div id="listGigFoter">
    <p> No draft gigs to show.</p>
      </div>
      </div>
    </div>
   
   
   </div>
  
  </div>