
	<!--/pop up login form-->
	<div class="modal" id="popupLoginform" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="text-center">Sign In</h4>
				</div>
					<div class="modal-body">
					<form>					
					<div class="text-center social-btn">
            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
			<a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
					</div>
		<div class="or-seperator"><i>or</i></div>						
						<div class="form-group">
							<input type="text" name="popupUsername" class="form-control" placeholder="Enter User Name">
						</div>
						<div class="form-group">
							<input type="password" name="popupUserpas" class="form-control" placeholder="Enter User Password">
						</div>
						<a href="dashboard" class="btn btn-primary btn-group-justified">Sign In</a><br>
						
						<div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox" name="joinChkRember"> Remember Me</label>
            <a href="#" class="pull-right" id="linkforget">Forget Password?</a>
						</div>		
					</form>
					</div>
					<div class="modal-footer">
						<p>Not a Member Yet? <a href="#" data-toggle="modal" data-target="#popupJoinform">Join Now</a></p>
					</div>
					</div></div></div>
 
			
		<!--/pop up Join form-->
	<div class="modal" id="popupJoinform" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="text-center">Join Us</h4>
				</div>
					<div class="modal-body">
					<form>
					<div class="text-center social-btn">
            <a href="#" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
			<a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
					</div>
		<div class="or-seperator"><i>or</i></div>
						<div class="form-group">
							<input type="text" name="joinUsername" class="form-control" placeholder="Enter User Name">
						</div>
						<div class="form-group">
							<input type="password" name="joinUserpas" class="form-control" placeholder="Enter User Password">
						</div>
						<div class="form-group">
							<input type="tel" name="jpinUsernum" class="form-control" placeholder="Enter Contact Number">
						</div>
						<a href="main-page.html" class="btn btn-primary btn-group-justified">Log In</a><br>
						<div class="checkbox">
						<label><input type="checkbox" name="chkRember"> Remember Me</label>
						</div>						
					</form>
					</div>
					<div class="modal-footer">
						<p>Not a Member Yet? <a href="#">Join Now</a></p>
					</div>
			</div></div>
	</div>
	