div{
    margin-left: auto;
    margin-right: auto;
}
#linkforget{
	text-align:left;
	display:block;
	margin-top:2px;
	margin-bottom:2px;
	color:rgb(26,207,77);
}
#linkforget:hover{
	text-decoration:underline !important;
}
.checkbox{
	text-align:left;
	margin:0px;
}
.modal-content{
max-width:300px;
margin:auto;
}
.modal .modal-body{
	background-color:rgb(217,221,223);
}
.modal .modal-footer{
	background:rgb(181,181,182);
	margin-top:2px;
}
.modal-footer a{
	color:rgb(26,207,77);
}
.modal-footer a:hover{	
	text-decoration:underline !important;
}
 .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid gray;
    }
 .or-seperator i {
        padding: 0 10px;
        background: rgb(68, 108, 128);
        position: relative;
        top: -11px;
        z-index: 1;
		font-size:22px;
    }
 .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left; 
        line-height: 24px;       
    }
 .social-btn .btn i {
		float: left;
		margin: 4px 15px  0 5px;
        min-width: 15px;
	}
.modal input[type=text],input[type=password],input[type=tel]{
	margin:0px;
}

