<div class="container-fluid" id="topbar">
  <!--gigs list view-->
      <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#ovrview">Overview</a></li>
      <li><a data-toggle="tab" href="#menuPrice">Pricing</a></li>
      <li><a data-toggle="tab" href="#descriptionNew">Description & FAQ</a></li>
      <li><a data-toggle="tab" href="#requirement">Requirement</a></li>
    </ul>
  </div>
  
  <!-- Create a new Gig-->
  <div class="container-fluid">
    <div class="tab-content newgig">
    <!-- 1st tab-->
      <div id="ovrview" class="tab-pane fade in active">
    <div class="ovrview">
      <div class="gigTitle">
      <label>Gig Title</label><br>
      <input type="text" name="gig-title">	
      <form class="form">
      <label>Category</label><br>
      <select class="form-control" id="catgry">
      <option disabled selected hidden>Select a Category</option>
      <option>Graphics & Design</option>
      <option>Digital Marketing</option>
      <option>Writing & Translation</option>
      <option>Video & Animation </option>
      <option>Business</option>
    </select>
    </form><br>
    <label>Search Tags</label><br>
    <input type="search" name="srch-tag" id="tagSrch">
      </div>	
    <a class="btn btn-default btn-lg pull-left">Cancel</a>
    <a class="btn btn-success btn-lg pull-right">Save and Continue</a>
    </div>
    </div>
    <!-- 2nd tab-->
    <div id="menuPrice" class="tab-pane fade">
    <h3> Scope & Pricing</h3>
    <div class="price-pkg" id="packg">
    <table class=" table tabel-bordered tabel-hover">
    <div class="row">
    <thead>
    <tr>
    <th class="col-md-3"></th>
    <th class="col-md-3">Basic</th>
    <th class="col-md-3">Standard</th>
    <th class="col-md-3">Premium</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    
    <td class="col-md-3" rowspan="4"><b>Revisions</b></td>
    <td class="col-md-3" contenteditable="true">Name Your Package <span class="glyphicon glyphicon-pencil"></span></td>
    <td class="col-md-3" contenteditable="true">Name Your Package <span class="glyphicon glyphicon-pencil"></span></td>
    <td class="col-md-3" contenteditable="true">Name Your Package <span class="glyphicon glyphicon-pencil"></span></td>
    </tr>
    <tr>
    <td class="col-md-3" contenteditable="true">Describe the details of your offering <span class="glyphicon glyphicon-pencil"></span></td>
    <td class="col-md-3" contenteditable="true">Describe the details of your offering <span class="glyphicon glyphicon-pencil"></span></td>
    <td class="col-md-3" contenteditable="true">Describe the details of your offering <span class="glyphicon glyphicon-pencil"></span></td>
    </tr>
    <tr>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Delivery Time</option>
      <option>1 Hour Delivery</option>
      <option>2 Hour Delivery</option>
      <option>3 Hour Delivery</option>
      <option>5 Hour Delivery</option>
      <option>1 Day Delivery</option>
      <option>2 Day Delivery</option>
      <option>1 week Delivery</option>
    </select>
    </td>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Delivery Time</option>
      <option>1 Hour Delivery</option>
      <option>2 Hour Delivery</option>
      <option>3 Hour Delivery</option>
      <option>5 Hour Delivery</option>
      <option>1 Day Delivery</option>
      <option>2 Day Delivery</option>
      <option>1 week Delivery</option>
    </select>
    </td>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Delivery Time</option>
      <option>1 Hour Delivery</option>
      <option>2 Hour Delivery</option>
      <option>3 Hour Delivery</option>
      <option>5 Hour Delivery</option>
      <option>1 Day Delivery</option>
      <option>2 Day Delivery</option>
      <option>1 week Delivery</option>
    </select>
    </td>
    </tr>
    <tr>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    </td>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    </td>
    <td class="col-md-3">
    <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    </td>
    </tr>
    <tr>
    <td rowspan="1">Price</td>
    <td>
    <select class="form-control" id="catgry">
      <option disabled selected hidden>$5-$995</option>
      <option>$5</option>
      <option>$10</option>
      <option>$15</option>
      <option>$20</option>
      <option>$25</option>
      <option>$30</option>
      <option>$35</option>
    </select>
  </td>
  <td>
    <select class="form-control" id="catgry">
      <option disabled selected hidden>$5-$995</option>
      <option>$5</option>
      <option>$10</option>
      <option>$15</option>
      <option>$20</option>
      <option>$25</option>
      <option>$30</option>
      <option>$35</option>
    </select>
  </td>
  <td>
    <select class="form-control" id="catgry">
      <option disabled selected hidden>$5-$995</option>
      <option>$5</option>
      <option>$10</option>
      <option>$15</option>
      <option>$20</option>
      <option>$25</option>
      <option>$30</option>
      <option>$35</option>
    </select>
  </td>
    </tr>
    </tbody>
    </div>
    </table>
    </div>
    <h4>My Gig Extras</h4>
    <div class="price-pkg" id="packg">
    <!--fastDeliver-->
      <div id="extraFastDlvry">
      <div id="fastDeliver">
      <label>
     <input type="checkbox" class="form-check-input" data-toggle="collapse" data-target="#fastdelivery" aria-expanded="true" aria-controls="fastdelivery">
            Extra fast Delivery</label>
      </div>
      <div id="fastdelivery" class="collapse" aria-labelledby="fastDeliver" data-parent="#extraFastDlvry">
     <form class="form-group form-inline form-justify">
         <label class="pull-left"> Basic </label>
      <label class="pull-right">
      <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>30 Minute</option>
      <option>1 Hour</option>
      <option>1 Hour, 30 Minute</option>
      <option>2 Hour</option>
      <option>3 Hour</option>
    </select>I'll Deliver in only </label>
    <label class="pull-right">
      <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>$5</option>
      <option>$10</option>
      <option>$15</option>
    </select> For an Extra </label>
      </form>
      </div>
    </div>
  <div id="aditionReision">
      <div id="revision">
      <label>
     <input type="checkbox" class="form-check-input" data-toggle="collapse" data-target="#aditionRevise" aria-expanded="true" aria-controls="fastdelivery">
            Additional Revision</label>
      </div>
      <div id="aditionRevise" class="collapse" aria-labelledby="revision" data-parent="#aditionReision">
     <form class="form-group form-inline form-justify">
      <label>I'll Deliver in only </label>
      <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>30 Minute</option>
      <option>1 Hour</option>
      <option>1 Hour, 30 Minute</option>
      <option>2 Hour</option>
      <option>3 Hour</option>
    </select>
    <label> For an Extra </label>
      <select class="form-control" id="catgry">
      <option disabled selected hidden>Select</option>
      <option>$5</option>
      <option>$10</option>
      <option>$15</option>
    </select>
      </form>
      </div>
    </div>
    </div>
    <a class="btn btn-success btn-lg pull-right">Save and Continue</a>
    </div>
      <!--3rd tab-->
    <div id="descriptionNew" class="tab-pane fade">
    <h3>Description</h3>
    <h6>Briefly Describe Your Gig</h6>
    <textarea rows="6"></textarea>
    <a class="btn btn-success btn-lg pull-right">Save and Continue</a>
    </div>
    <!--4th tab-->
    <div id="requirement" class="tab-pane fade">
    <div class="tellRequirement">
    <h5>Tell your buyer what you need to get started.</h5>
    <p>Structure your Buyer instructions as free text, a multiple choice question or file upload.</p>
    <div>
    <p>Requirement #1</p>
    <textarea rows="6"></textarea>
    <a href="#" class="btn btn-default">Cancel</a>
    <a href="#" class="btn btn-success">Add</a>
    </div>
    </div>
    <a class="btn btn-success btn-lg pull-right">Save and Continue</a>
    </div>
  </div>
  </div>
  