	<div class="container-fluid">
		<div class="gigDetail">
		<div class="gigDetailLeft">
		<div class="firstDiv">
	<div class="gig-detail-head">
	<h3>I will Design A Professional Responsive Website</h3>
	<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span><samp class="text-muted">(105)</samp>
	</div>
	
	<div class="gig-detail-slider">
			<div id="demo" class="carousel slide" data-ride="carousel" >
				
  <ol class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="assets/profile/car1.jpg" alt="img 1">  
	</div>
    <div class="item">
      <img src="assets/profile/car2.jpg" alt="img 2">  
    </div>
    <div class="item">
      <img src="assets/profile/car3.jpg" alt="img 3">   
    </div>
	 <div class="item">
      <img src="assets/profile/car4.jpg" alt="img 4">   
    </div>
  </div>
  <a class="left carousel-control" href="#demo" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#demo" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

	</div>
		</div>
		<div class="secondDiv">
	<table class=" table tabel-bordered tabel-hover">
	<thead>
	<tr>
	<th colspan="4"><h2>Compare Packages</h2></th>
	</tr>
	</thead>
	<tbody>
	<tr>	
	<td rowspan="1"></td>
	<td><h5><b> $100 Standard</b></h5></td>
	<td><h5><b> $70 Basic</b></h5></td>
	</tr>
	<tr>
	<td rowspan="1">Description</td>
	<td> Website Design 4-Pages.
	<br><samp class="text-muted">Complete 4 Pages Website with Home, About, Services, Contact Pages.</samp></td>
	<td> Website Design 1-Pages.
	<br><samp class="text-muted">Complete Home Page design to see quality before
	adding additional pages at $100 per page.</samp></td>
	</tr>
	<tr>
<td rowspan="1">Responsive Design</td>
<td><span class="glyphicon glyphicon-ok"></span></td>
<td><span class="glyphicon glyphicon-ok"></span></td>
	</tr>
	<tr>
<td rowspan="1">Commercial Use</td>
<td><span class="glyphicon glyphicon-ok"></span></td>
<td><span class="glyphicon glyphicon-ok"></span></td>
	</tr>
	<tr>
<td rowspan="1">Source File</td>
<td><span class="glyphicon glyphicon-ok"></span></td>
<td><span class="glyphicon glyphicon-ok"></span></td>
	</tr>
	<tr>
<td rowspan="1">Revisions</td>
<td> 4 </td>
<td> 3 </td>
	</tr>
	<tr>
	<td rowspan="1"></td>
	<td> <button class="btn btn-success">Select $100</button></td>
	<td> <button class="btn btn-success">Select $70</button></td>
	</tr>
	</tbody>
	</table>
</div>
		<div class="thirdDiv">
		<h2>About This Gig</h2>
		<p> I have personally built hundreds of website and have extensive experience with all aspect of web 
		design and editing. From sites for large organization to local and small business to 
		niche website to directories to small and large e-commerce store to personal and bussiness blogs, 
		I have years of experience working wth all of these.</p>
		<br><p>  The $5 service include basiv editing such as:
		<br> - One new basic page or post added<br>
		<b>or</b>
		<br> -Basic editing of text for one page or post</p>
		<br><mark><b>*****PLEASE DO NOT PLCE AN ORDER WITHOUT CONTACT ME FIRST. *****</b></mark>
		<br><br><p><b>Need someone else? Please contact me for a custom offer for your specific website needs.</b></p>
		<br><p><b>Just some of what i can do for you:</b></p>
		<p><b>- Set up and customize themes</b></p>
		<p><b>- Complete Design</b></p>
		<p><b>- Forms</b></p>
		<p><b>- CSS Editing</b></p>
		<p><b>- Security and Backups</b></p>
		<p><b>- Support and help for editing things yourself</b></p>
		</div>
		<div class="reviewDiv">
		<div id="noOfReview" class="row">
		<p class="col-md-6 col-sm-6 col-xs-8"> 103 Reviews 
		<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
	<span class="glyphicon glyphicon-star"></span><samp class="text-muted"> <b>5</b></samp>
		</p>
		<select class="pull-right col-md-6 col-sm-6 col-xs-4">
		<option>Most Recent</option>
		<option>Positive Reviews</option>
		<option>Negative Reviews</option>
		</select>
		</div>
			<div class="noOfReview1 row">
		<div class="selerComunication col-md-4 col-sm-4 col-xs-6">
		<p>Seller Communication</p>
		<div style="text-align:center;"><span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> 
		 </div>
		</div>
		<div class="serviceDescribe col-md-4 col-sm-4 col-xs-6">
		<p>Service as Described</p>
		<div style="text-align:center;"><span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> 
		 </div>
		</div>
		<div class="wouldRecomend col-md-4 col-sm-4 col-xs-6">
		<p>Would Recommend</p>
		<div style="text-align:center;"><span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span>
		<span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span> 
		 </div>
		</div>
		</div>
			<div class="gigComment">
				<div class="userComent">
				<div id="userImage">
			<img class="rounded-circle" src="assets/profile/me1.jpg">
				</div>
				<div id="customerNameReview">
				<p> Waheed 
				<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 
		<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 
		<span class="glyphicon glyphicon-star"></span> 
		 </p>
				
				</div>
				<div id="customerComent">
				<p>I need design for my website. make delivered good UI design</p>
				</div>
				</div>
				
				<div class="honorComent">
					<div id="honorImage">
			<img class="rounded-circle" src="assets/profile/me1.jpg">
				</div>
				<div id="HonorNameReview">
				<p> Waheed 
				<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 
		<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 
		<span class="glyphicon glyphicon-star"></span> 
		 </p>
				
				</div>
				<div id="HonorComent">
				<p>I need design for my website. make delivered good UI design</p>
				</div>
				
				</div>
			</div>
	</div>
		
		</div>
	
	<div class="gigDetailRight">
		<div id="gigPackgList">
		<div id="gigRate">
		<h6><b>Basic Package</b></h6>
		</div><br>
		<div class="row">
		<div class="col-md-8"><h6><b>Website Design-4 Pages</b></h6></div>
		<div class="col-md-4"><h6><b>$150</b></h6></div>
		</div>
			<p>Complete 4 Pages Website with Home, About, Services, Contact Page.</p>
			<div class="row">
			<div class="col-md-6"><h6><span class="glyphicon glyphicon-time"></span> <b>8 Days Delievery</b></h6></div>
			<div class="col-md-6"><h6><span class="glyphicon glyphicon-refresh"></span> <b> 4 Revisions</b></h6></div>	
				</div>
				<div id="gigSpec">
				<p><span class="glyphicon glyphicon-ok"></span> Commercial Use</p>
				<p><span class="glyphicon glyphicon-ok"></span> Convert to HTML /CSS</p>
				<p><span class="glyphicon glyphicon-ok"></span> Source File</p>
				<p><span class="glyphicon glyphicon-ok"></span> Responsive Design</p>
				</div>
				<a class="btn btn-success btn-block"><b>Continue ($150)</b></a>
			</div>
		
		<div class="gigProfile">
		<section class="first_section">
				<div class="card">
					<img class="card-img-top rounded-circle" src="assets/profile/me1.jpg" alt="Profile Img">
				<div class="card-body">
					<div class="User-name text-center">Waheed Shahzad</div>
					<div class="User-exprt text-center">Web Designer </div>
					<button class="btn btn-success btn-block"> Contact Me</button><br><br>
					<p class="pull-right">pakistan</p>
					<p><span class="glyphicon glyphicon-map-marker"></span> From</p>
					<p class="pull-right">Dec 2015</p>
					<p><span class="glyphicon glyphicon-user"></span> Member Since</p>
					<p class="pull-right">6 Hours</p>
					<p><span class="glyphicon glyphicon-time"></span> Avg. Response Time</p>
				</div>
				</div>
			</section>
		</div>	
	</div>
	
	</div>

</div>
