	<!-- Decorating and Painting Service-->	
  <div class="container-fluid">
  <section class="btm-bar">
      <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
      <h1 class="about"><b>Decorating or Paint Services</b></h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1><b>Painting and Decorating</b></h1>
    <p id="about">Need to change or re-design your office? Our dedicated renovation team is able to
     work with you on your desired design, plan your interior space,
     maximising it with workable office furniture system and style to suit your design.
     We provide professional painting and decorating services in London and surrounding
     areas to both the public and private sectors with minimum disruption, on time and on budget.<br><br>
    Our decorators can help you choose the right materials for different applications; bathrooms
     & kitchens where moisture can be a problem or exterior finishes for durability and protection.</p>
     <h4><b>Quick call-out</b></h4>
     <p>We offer a 24/7 emergency service and never charge a separate call out fee</p>
     <h4><b>Open, transparent cost</b></h4>
     <p>Our fee structure is open, honest and quoted in advance.
     If more work is needed or things change, we let you know first!<br><br>
    There is a minimum 1 hour charge when we come out. No separate callout fee – 
    this is all you pay for the first hour, no parking, travel costs or hidden extras.
    All further work is charged by the half hour.</p>
     <h4><b>We undertake the following</b></h4>
     
    <p><span class="glyphicon glyphicon-star"></span> Residential Services</p>
    <p><span class="glyphicon glyphicon-star"></span> Bathroom Refurbishment</p>
    <p><span class="glyphicon glyphicon-star"></span> Tiling</p>
    <p><span class="glyphicon glyphicon-star"></span> Decorative wallpapering</p>
    <p><span class="glyphicon glyphicon-star"></span> Painting on all surfaces; plaster, brickwork, woodwork, stone or rendered exterior finishes</p>
    <p><span class="glyphicon glyphicon-star"></span> Renovations</p>
    <p><span class="glyphicon glyphicon-star"></span> Paint</p>
    <p><span class="glyphicon glyphicon-star"></span> Drywall</p>
     </div>
    <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
    <div class="bok">
        <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
        <h4><b>+923046080781</b></h4><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
        <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name"required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number"required>
            </div>
          </div>			
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
    
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
        </div>
        </div>
        <h5 id="oneclr"><b>No call out fees</b></h5>
        <h5 id="secclr"><b>24 hour emergency service</b></h5>
        <h5 id="oneclr"><b>Half hourly charging</b></h5>
        <h5 id="secclr"><b>Highly competitive rates</b></h5>
        <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
        <h5 id="secclr"><b>Accredited expert engineers</b></h5>
        <h5 id="oneclr"><b>Fast response times</b></h5>
        </div>
    </div>	
    </section>
    
  </div>  