
<div class="container-fluid">
<section>
  <div class="jumbotron">
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <h4><b>Services</b></h4>
                  <ul>
                      <li><a routerLink="/paint">Decorating</a></li>
                      <li><a routerLink="/plumber">Plumbering</a></li>
                      <li><a routerLink="/lock">Locks & Glazing</a></li>
                      <li><a routerLink="/electric">Electrical</a></li>
                      <li><a routerLink="/security">Security </a></li>
                      <li><a routerLink="/clean">Cleaning</a></li>
                      <li><a routerLink="/gas">Gas Check</a></li>
                      <li><a routerLink="/others">Others</a></li>
                  </ul>    
          </div><!--/.col-md-3-->

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <h4><b>About Us</b></h4>
                  <p>A One Stop Shop for all your Property Maintenance needs.
      As experts in the field with many years in the business,
      our objective is simple:to provide a superior service at a very competitive price.</p> 
          </div><!--/.col-md-3-->

          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <h4><b>Contact Details</b></h4>
                  <p>Employment Resource Center
        Model Town Lahore,Pakistan</p>
      <p>Customer Care Line:<br>
      +923046080781</p>
          </div><!--/.col-md-3-->

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                  <h4><b>Opening Hours</b></h4>
                  <p>We are open 24/7 for emergencies:<br>
      Monday - Sunday</p>   
          </div><!--/.col-md-3-->
      </div>
  </div>
</section>
</div>
