		<!-- Our Services-->	
   <div class="container-fluid">
       <section>
        <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
        <h1 class="about"><b>Our Services</b></h1>
          </div>
      <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <h1><b>Our Services</b></h1>
      <p id="about">Our continuing commitment to providing high-quality services has earned us recognition,
       with a solid track record in the Commercial, Residential and Mixed Developments.<br><br>
       We take great pride in providing a reliable, efficient and cost effective service that delivers great value for our clients.
       Our skilled, experienced and trustworthy engineers get the job done quickly and efficiently, 
       minimising hassle and making our clients’ lives that little bit easier.  And they really appreciate the value of what we do.<br><br>
       Each member of our team has a high level of ‘hands-on’ experience. This enables us to guarantee an 
       efficient response to the demands of our clients whilst ensuring work is carried out and
       in a timely and professional manner.<br><br>
       When we say, ‘No job too big, no job too small’, we really mean it. 
       We’ll refurbish your house, or change a light bulb– and everything in between! 
       Our job is to respond to your property maintenance and refurbishment needs as quickly and efficiently as possible
       We are the ultimate one stop shop for all your building maintenance issues; 
       from daily maintenance to emergency repairs we are able to solve your property issues with the minimum of fuss.<br><br>
      
      So if you need either a one off visit or permanent site based staff, we have the tools to deliver.<br>
      
      Please ask a member of our team about how our planned maintenance packages can help your 
      company save to money whilst maintain your site to the highest of standards.
       </p>
      <p><span class="glyphicon glyphicon-star"></span> 24/7 365 operational help desk and mobile service engineers</p>
      <p><span class="glyphicon glyphicon-star"></span> Text/email facilities to confirm appointments with clients</p>
      <p><span class="glyphicon glyphicon-star"></span> Client Web Portal to view/plan works</p>
      <p><span class="glyphicon glyphicon-star"></span> Provide a rapid emergency response</p>
      <p><span class="glyphicon glyphicon-star"></span> A leading insured approved contractor</p>
       </div>
      <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
      <div class="bok">
          <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
          <h4><b>+923046080781</b></h4><br>
          </div>
          <div class="panel-body">
          <h5>or lets us call you...</h5>
          <form>
             <div class="form-group row">
             <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Your Name"required>
            </div>
            </div>
             <div class="form-group row">
            <div class="col-md-12">
            <input type="email" class="form-control" placeholder="Your Email Id">
            </div>
             </div>
            <div class="form-group row">
              <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Mobile Number"required>
              </div>
            </div>			
            <div class="form-group row">
             <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Reason For Contact" required>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
            <button class="btn btn-success btn-block">Request a Call Back</button>
            </div>
            </div>
          </form>
          </div>
          </div>
          <h5 id="oneclr"><b>No call out fees</b></h5>
          <h5 id="secclr"><b>24 hour emergency service</b></h5>
          <h5 id="oneclr"><b>Half hourly charging</b></h5>
          <h5 id="secclr"><b>Highly competitive rates</b></h5>
          <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
          <h5 id="secclr"><b>Accredited expert engineers</b></h5>
          <h5 id="oneclr"><b>Fast response times</b></h5>
          </div>
      </div>	
       </section>

    </div>
      