<!--/pop up Join form-->
<div class="modal" id="popupJoinform" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center" class="btn btn-primary btn-block btn-lg">Join Us</h4>
         </div>
          <div class="modal-body">
  <form #signupform="ngForm" (ngSubmit)="onSignup(signupform)">

            <div class="alert alert-danger" [hidden]="!error">{{error}}</div>

            <div>
                <app-loading-spinner *ngIf="showspinner"></app-loading-spinner>
            </div>
        
      <div class="form-group" [class.has-error]="fullnamecontroler.invalid && fullnamecontroler.touched"
          [class.has-success]="fullnamecontroler.valid">
            <input type="text" name="name" autofocus="autofocus" [(ngModel)]="form.name" pattren="[a-zA-Z][a-zA-Z ]+"
            ngModel class="form-control" #fullnamecontroler="ngModel" placeholder="Enter User Name" required>
      </div>

            <div class="alert alert-danger"  *ngIf="fullnamecontroler.touched && fullnamecontroler.errors?.required">
                Name is Required
            </div>
            <div class="alert alert-danger" *ngIf="fullnamecontroler.errors?.pattren">
                Name should be in Alphabets
            </div>


          <div class="form-group" [class.has-error]="emailcontroller.invalid && emailcontroller.touched"
              [class.has-success]="emailcontroller.valid">
                <input type="text" name="email" [(ngModel)]="form.email"
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                ngModel class="form-control" #emailcontroller="ngModel" placeholder="Enter User Email" required>
          </div>

              <div class="alert alert-danger"  *ngIf="emailcontroller.touched && emailcontroller.errors?.required">
                  Email is Required
              </div>
              <div class="alert alert-danger" *ngIf="emailcontroller.touched && emailcontroller.errors?.pattern">
                  provide a valid Email
              </div>

          <div class="form-group" [class.has-error]="passwordcontroller.invalid && passwordcontroller.touched"
              [class.has-success]="passwordcontroller.valid">
                <input required type="password" name="password"  [(ngModel)]="form.password"
                ngModel class="form-control" #passwordcontroller="ngModel" placeholder="Enter Password">
          </div>

              <div class="alert alert-danger"  *ngIf="passwordcontroller.touched && passwordcontroller.errors?.required">
                  Password is Required
              </div>

          <div class="form-group" [class.has-error]="confirmpasscontroller.invalid && confirmpasscontroller.touched"
              [class.has-success]="confirmpasscontroller.valid">
                <input appConfirmEqualValidator="password" required type="password" name="c_password" 
                [(ngModel)]="form.c_password"
                ngModel class="form-control" #confirmpasscontroller="ngModel" placeholder="Confirm Password">
               
                <div class="alert alert-danger"  *ngIf="confirmpasscontroller.touched && confirmpasscontroller.errors?.required">
                    Password is Required
                </div>
                <div class="alert alert-danger"
                      *ngIf="confirmpasscontroller.touched && confirmpasscontroller.errors?.notEqual &&
                        !confirmpasscontroller.errors?.required">
                       Confirmation Failed
                 </div>
          </div>

          <div class="form-group" [class.has-error]="phonecontroller.invalid && phonecontroller.touched"
          [class.has-success]="phonecontroller.valid">
            <input type="text" name="phone" [(ngModel)]="form.phone" pattern="[0-9]*"
            ngModel class="form-control" #phonecontroller="ngModel" placeholder="Contact No">

            <div class="alert alert-danger"  *ngIf="phonecontroller.touched && phonecontroller.errors?.required">
                Contact No is Required is Required
            </div>
            <div class="alert alert-danger"  *ngIf="phonecontroller.errors?.pattern">
                Provide Valid Phone Number
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block" [disabled]="signupform.invalid">Sign Up</button>
          
          <div class="checkbox">
          <label><input type="checkbox" name="chkRember"> Remember Me</label>
          </div>						
        </form>
        </div>
    </div></div>
</div>
