	
	<!-- call or booking form-->
	<div class="container-fluid row">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
      <h1><b>Employment Resource Management</b></h1>
      <h3>Your planned and reactive maintenance company</h3>
      <p>Employment Resource Management is a specialist planned and reactive maintenance company
      offering services to both domestic and commercial customers.<br><br>
    Operating 24/7, 365 days a year and supported by a 24/7 Helpdesk,
     we have quickly become a highly respected company within our sector.<br><br>
    Each member of our team has a high level of ‘hands-on’ experience.
     This enables us to guarantee an efficient response to the demands of our clients 
     whilst ensuring work is carried out and in a timely and professional manner.<br><br>
    We cover a range of reactive, planned and preventative maintenance services including:
     electrical, plumbing, roofing, glazing, carpentry, networking, genrator, AC (air conditioner) alarms and CCTV.</p>
      <a routerLink="/about" class="btn btn-success"><p style="color:white"><b>Learn More About</b>
      <span class="glyphicon glyphicon-chevron-right" style="color:white"></span></p>
      </a>
      </div>
      <!-- booking form-->
        <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8 bok">
        <div class="panel-heading hed"><h5><b>Call to book an appointment:</b></h5>
        <h5><b>+923046080781</b></h5><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
      <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name" required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id ">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number" required>
            </div>
          </div>
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
              </div>
        </div>
      </div><br>
      
      
      <!--Capabilities-->
      <div class="container-fluid">
      <h1 class="text-center"><b>Capabilities</b></h1>
      <h5 class="text-center">Whatever your goal,here are a few places to get started</h5><br>
      <div class="flex-container">
        <div>
          <a routerLink="/plumber">
          <div class="div-col-img" style="background-image:url(assets/services/img001.jpg);" >
          <div class="btn btn-warning">Plumber Services</div>
          </div></a>
        </div>
        <div>
          <a routerLink="/paint">
          <div class="div-col-img" style="background-image:url(assets/services/img5.jfif);" >
          <div class="btn btn-warning">Decorating</div>
          </div></a>
        </div>
        <div>
        <a routerLink="/security">
        <div class="div-col-img" style="background-image:url(assets/services/img002.png);" >
          <div class="btn btn-warning">Security Service</div>
          </div></a>
        </div>
        <div>
          <a routerLink="/clean">
          <div class="div-col-img" style="background-image:url(assets/services/img003.jpg);" >
          <div class="btn btn-warning">Cleaning Service</div>
          </div></a>
        </div>
        <div>
          <a routerLink="/others">
          <div class="div-col-img" style="background-image:url(assets/services/img8.jpg);" >
          <div class="btn btn-warning">ON-Demand Repair</div>
          </div></a>
        </div>
      </div>	
        </div>


          <!--Find out how we work with…-->
      <div class="container-fluid findout" style="background-image:url(assets/services/back1.jpg);">
      <h1 class="text-center"><b>Find out how we work with…</b></h1>
      <div class="flex-container">
      <div>
        <a routerLink="/serv"> 
        <div class="card" style="width:60%;">
        <img class="card-img-top" src="assets/services/owner.jpg" alt="Owners">
        <div class="card-body">
          <h3 class="card-title"><b>Domestic</b></h3>
        </div>
      </div></a>
        </div>
      <div>
        <a routerLink="/serv"> 
        <div class="card" style="width:60%; color:black;">
        <img class="card-img-top" src="assets/services/property.jpg" alt="Property Managers">
        <div class="card-body">
          <h3 class="card-title"><b>Retail</b></h3>
        </div>
      </div></a>
        </div>
      <div>
        <a routerLink="/serv"> 
        <div class="card" style="width:60%; color:black;">
        <img class="card-img-top" src="assets/services/comm.jpg" alt="Commercial Property">
        <div class="card-body">
          <h3 class="card-title"><b>Commercial</b></h3>
        </div>
        </div></a>
        </div>
      
      </div>
      </div>
      

      <!-- black div-->	
      <div class="container-fluid jumbo">
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <h2><b>If you Need Someone</b></h2>
    <h2><b>Call Us on 0304-6080781</b></h2>
    <p>If you have a problem, don’t panic!
     Just give us a call and we’ll be there as
    quick as we can. There is no callout fee,our rates are 
    transparent and all of our work is quoted in advance 
    so you have peace of mind there will be no more surprises</p>
    <p><b>24/7help desk</b></p>
    <p><b>Expert available in all areas</b></p>
    <p><b>Fast response</b></p>
    <p><b>Reliable local service</b></p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <img class="img-fluid" src="assets/services/logo.png" alt="Logo">
    </div>
      </div>	
      </div>
    