  
  <!--Manage request-->
<div class="container-fluid">
	<h2>Post A Request To The Seller Community</h2>
	<div class="post-req">
		<div class="describe-service">
		<p>Describe the Service You're looking to Purchase-
		Please be as detailed as possible:</p>
		<textarea></textarea><br>
		<input type="file" name="atachfile">	
		</div>
		<div class="chose-category">
		<form class="form row">
		<div class="col-md-6 col-sm-6 col-xs-6">
		 <select class="form-control" id="category">
    <option selected>Select...</option>
    <option>Carpenter</option>
      <option>Electrics</option>
      <option>Decorator</option>
      <option>Maintenance</option>
      <option>Plumber</option>
      <option>Gas</option>
      <option>Security</option>
      <option>Roofing</option>
      <option>Handyman</option>
      <option>Locks</option>
      <option>Alarm</option>
      <option>Clean</option>
      <option>Others</option>
  </select>
  </div>
			<div class="col-md-6 col-sm-6 col-xs-6">
		<select class="form-control" id="category">
    <option selected>Select a subcategory</option>
	<option>Carpenter</option>
	<option>Electrics</option>
	<option>Decorator</option>
	<option>Maintenance</option>
	<option>Plumber</option>
	<option>Gas</option>
	<option>Security</option>
	<option>Roofing</option>
	<option>Handyman</option>
	<option>Locks</option>
	<option>Alarm</option>
	<option>Clean</option>
	<option>Others</option>
  </select>
  </div>
		</form>
		</div>
		<div class="chose-time">
			<p> Once you place order,when would you like your service deliverabled?</p>
			<form class="form-inline form-justify">
		 <button clas="text-center">24 Hours</button>
		 <button clas="text-center">3 Days</button>
		 <button clas="text-center">7 Days</button>
		 <input type="tel" name="other-time" placeholder="Others" class="text-center form-control">
		 </form>
		</div>
		<div class="chose-budget">
			<p> What is your budget for this service?(Optional)</p>
			<form class="form-inline form-justify">
		 <input type="text" name="min-budget" placeholder=" 5$ Minimum" class="form-control">
		</form><br>
		<a href="#" class="btn btn-success text-center">Post</a>
		</div>	
	
	</div>
</div>

