	
<!--Side Bar-->
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 col-xs-012">
				<aside class="mainpage-side-bar">
			<div class="main-rslt">
				<!-- Refine Result -->
				<h5><b>Refine Result</b></h5>
				<ul>
					<li>
					<a href="#">All Categories<samp class="text-muted pull-right">(1055)</samp></a>
					</li>
					<li>
					<a href="#">Handyman<samp class="text-muted pull-right">(964)</samp></a>
					</li>
					<li>
					<a href="#">Plumber<samp class="text-muted pull-right">(53)</samp></a>
					</li>
					<li>
					<a href="#">Carpenter<samp class="text-muted pull-right">(1055)</samp></a>
					</li>
					<li>
					<a href="#">Electrics<samp class="text-muted pull-right">(53)</samp></a>
					</li>
					<li>
					<a href="#">Decorator<samp class="text-muted pull-right">(1055)</samp></a>
					</li>
					<li>
					<a href="#">Locks<samp class="text-muted pull-right">(964)</samp></a>
					</li>
					<li>
					<a href="#">Security<samp class="text-muted pull-right">(53)</samp></a>
					</li>
					<li>
					<a href="#">Other <samp class="text-muted pull-right">(964)</samp></a>
					</li>
				</ul>
			</div>
				<!--Delievery Time-->
			<div class="main-rslt delievery-time">
			<h5><b>Delievery Time</b></h5>
			<form>
				<div class="radio">
				<label><input type="radio" name="optradio"> Up to 24 Hours</label>
				</div>
				<div class="radio">
				<label><input type="radio" name="optradio"> Up to 3 Days</label>
				</div>
				<div class="radio">
				<label><input type="radio" name="optradio"> Up to 7 Days</label>
				</div>
				<div class="radio">
				<label><input type="radio" name="optradio" checked> Any</label>
				</div>
			</form>
			</div>
			
			<!--Price Range-->
			<div class="main-rslt price-range">
				<h5><b>Price Range</b></h5>
				<label>$ <input type="tel" size="4"></label>
				<label> to $ <input type="tel" size="4"></label>
				<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<!--Price Range-->
			<div class="main-rslt seller-status">
				<h5><b>Seller Status</b></h5>
				<form>
				<input class="form-check-input" type="checkbox"> Show Online Seller
				<samp class="text-muted pull-right">(61)</samp><br>
				<input class="form-check-input" type="checkbox"> Available Now
				<samp class="text-muted pull-right">(41)</samp>
				</form>
			</div>
				</aside>
		</div>
	
	<!--main content-->
		<div class="col-lg-9 col-md-9 col-sm-7 col-xs-7 col-xs-012">
			<section class="second_section">
				<div class="row">
					<!--main Card-->
					
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" id="child">
		<div class="card">
    <img class="card-img-top" src="assets/profile/car1.jpg" alt="Car image">
    <div class="card-body">
      <a class="card-text">I will Design Optimize Your Database using sql</a>
     <br><span class="glyphicon glyphicon-star">5.0 </span>
	</div>
		<div class="card-footer">
		<span class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Save In..."></span>
		<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Add to Favorites"></span>
		<p class="pull-right">Started AT <b>$5</b></p>
		</div>
  </div>
	</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" id="child">
		<div class="card">
    <img class="card-img-top" src="assets/profile/car2.jpg" alt="Car image">
    <div class="card-body">
      <a class="card-text">I will Design Optimize Your Database using sql</a>
     <br><span class="glyphicon glyphicon-star">5.0</span>
	</div>
		<div class="card-footer">
		<span class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Save In..."></span>
		<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Add to Favorites"></span>
		<p class="pull-right">Started AT <b>$5</b></p>
		</div>
  </div>
	</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" id="child">
		<div class="card">
    <img class="card-img-top" src="assets/profile/car3.jpg" alt="Car image">
    <div class="card-body">
      <a class="card-text">I will Design Optimize Your Database using sql</a>
		 <br><span class="glyphicon glyphicon-star">5.0</span>
	</div>
		<div class="card-footer">
		<span class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Save In..."></span>
		<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Add to Favorites"></span>
		<p class="pull-right">Started AT <b>$5</b></p>
		</div>
  </div>
	</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" id="child">
		<div class="card">
    <img class="card-img-top" src="assets/profile/car4.jpg" alt="Car image">
    <div class="card-body">
      <a class="card-text">I will Design Optimize Your Database using sql</a>
     <br><span class="glyphicon glyphicon-star">5.0</span>
	</div>
		<div class="card-footer">
		<span class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Save In..."></span>
		<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Add to Favorites"></span>
		<p class="pull-right">Started AT <b>$5</b></p>
		</div>
  </div>
	</div>
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" id="child">
		<div class="card">
    <img class="card-img-top" src="assets/profile/car9.jpg" alt="Car image">
    <div class="card-body">
      <a class="card-text">I will Design Optimize Your Database using sql</a>
    <br><span class="glyphicon glyphicon-star">5.0</span>
	</div>
		<div class="card-footer">
		<span class="glyphicon glyphicon-menu-hamburger" data-toggle="tooltip" title="Save In..."></span>
		<span class="glyphicon glyphicon-heart" data-toggle="tooltip" title="Add to Favorites"></span>
		<p class="pull-right">Started AT <b>$5</b></p>
		</div>
  </div>
	</div>
			     </div>
			</section>
		</div>
	</div>

