<div class="container-fluid" id="topbar">
<!--gigs list view-->
	  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#acount-set">Account</a></li>
    <li><a data-toggle="tab" href="#security-set">Security</a></li>
    <li><a data-toggle="tab" href="#notic-set">Notification</a></li>
  </ul>
</div>

<!-- Create a new Gig-->
<div class="container-fluid">
  <div class="tab-content newgig">
  <!-- 1st tab-->
    <div id="acount-set" class="tab-pane fade in active">
	<div class="acount-seting">
<form>
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" class="form-control" id="fullName">
  </div>
  <div class="form-group">
    <label for="changeEmail">Email</label>
    <input type="email" class="form-control" id="changeEmail">
  </div>
    <div class="form-group">
    <label for="onlineStatus">Online Status</label>
    <select class="form-control" id="onlineStatus">
      <option>Go Ofline For...</option>
      <option>1 Hour</option>
      <option>1 Day</option>
      <option>1 Week</option>
      <option>Forever</option>
    </select>
  </div>
   <button class="btn btn-lg btn-default">Cancel</button>
  <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
</form>
	</div>
		<div class="deactive-acount">
		<label><h3>Account Deactivation</h3></label>
		<ul>
		<li><b>What happens when you deactivate your account?</b></li>
		<li>(1) Your Profile and Gigs won't be shown on anymore.</li>
		<li>(2) Active orders will be cancelled.</li>
		<li>(3) You won't be able to re-activate your Gigs.</li>
		</ul>
		<form>
		<div class="form-group">
    <label for="leaveReason">I'm leaving because...</label>
    <input type="text" class="form-control" id="leaveReason"placeholder="Give a reason">
		</div>
		 <button class="btn btn-lg btn-success">Deactivate Account</button>
		</form>
		</div>
	</div>
	<!-- 2nd tab-->
	<div id="security-set" class="tab-pane fade">
		<div class="security-seting">
	<h4 style="padding:10px;border-bottom:1px solid rgb(198,199,197);">Change Password</h4>
	<form>
  <div class="form-group">
    <label for="curentPass">Current Password</label>
    <input type="password" class="form-control" id="curentPass">
  </div>
  <div class="form-group">
    <label for="newpassword">New Password</label>
    <input type="password" class="form-control" id="newpassword">
  </div>
    <div class="form-group">
    <label for="cnfrmpassword">Confirm Password</label>
    <input type="password" class="form-control" id="cnfrmpassword">
  </div>
   <button class="btn btn-lg btn-default">Cancel</button>
  <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
  </form>
		</div>
	</div>
	<!--3rd tab-->
	<div id="notic-set" class="tab-pane fade">
	<div class="notification">
	<h4 style="padding:10px;border-bottom:1px solid rgb(198,199,197);">Notification</h4>
	<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6">
	<label>Type</label>
	<p>Inbox Messages</p>
	<p>Order Messages</p>
	<p>Order Statuses</p>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6">
	<label>Email</label><br>
	<input type="checkbox" checked><br>
	<input type="checkbox" checked><br>
	<input type="checkbox" checked><br>
	</div>
	</div>
	</div>
	<div class="realTimeNotic">
	<h4 style="padding:10px;border-bottom:1px solid rgb(198,199,197);">Real-Time Notifications</h4>
	<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-6">
	<p>Enable/disable real-time notification</p>
	<p>Enable/disable sound</p>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-6">
	<div class="aceptGig">
	<input type="checkbox" name="chkGigAcept">
	</div>
	<div class="aceptGig">
	<input type="checkbox" name="chkGigAcept">
	</div>
	</div>
</div>
  <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
</div>
	</div>

</div>
</div>