	<!-- Cleaning paragraph-->	
	<section class="btm-bar">
      <div class="container-fluid" style="background-image:url(assets/services/back1.jpg)">
      <h1 class="about"><b> Janitorial Services</b></h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <h1><b> Cleaning and Conservancy Service</b></h1>
    <p id="about">Environmental cleanliness is always one of our top priorities. With a clean and conducive environment in mind, 
    we take pride in maintaining the properties of our clients’ ensuring them the optimum condition of their properties.<br><br>
    In every aspect of janitorial and cleaning services, We takes pride in making your building shine.
     Included in our services are:<br></p>
    <div class="row">
    <div class="col-md-6">
    <p><b>General Office Cleaning</b></p>
    <p><b>Carpet Cleaning</b></p>
    <p><b>Day Porter Services</b></p>
    </div>
    <div class="col-md-6">
    <p><b>Light and Heavy Cleaning</b></p>
    <p><b>Window Cleaning</b></p>
    <p><b>Floor Waxing, Stripping, and Polishing</b></p>
    </div>
    </div><br>
     <h4><b>Quick call-out</b></h4>
     <p>We offer a 24/7 emergency service and never charge a separate call out fee</p>
     <h4><b>Open, transparent cost</b></h4>
     <p>Our fee structure is open, honest and quoted in advance.
     If more work is needed or things change, we let you know first!<br><br>
    There is a minimum 1 hour charge when we come out. No separate callout fee – 
    this is all you pay for the first hour, no parking, travel costs or hidden extras.
    All further work is charged by the half hour.</p>
     <h4><b>We undertake the following</b></h4>
    <p><span class="glyphicon glyphicon-star"></span> Office Cleaning</p>
    <p><span class="glyphicon glyphicon-star"></span> Marble/Granite Polishing and Waxing</p>
    <p><span class="glyphicon glyphicon-star"></span> Carpet Shampooing and Maintenance</p>
    <p><span class="glyphicon glyphicon-star"></span> General Facility cleaning</p>
    <p><span class="glyphicon glyphicon-star"></span> Periodic cleaning of car park</p>
    <p><span class="glyphicon glyphicon-star"></span> Refuse Disposal</p>
    <p><span class="glyphicon glyphicon-star"></span> Specialist Cleaning for Clean-room Environments</p>
     </div>
    <div class="panel col-lg-4 col-md-4 col-sm-5 col-xs-8" id="b-clr">
    <div class="bok">
        <div class="panel-heading hed"><h4><b>Call to book an appointment:</b></h4>
        <h4><b>+923046080781</b></h4><br>
        </div>
        <div class="panel-body">
        <h5>or lets us call you...</h5>
        <form>
           <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Your Name"required>
          </div>
          </div>
           <div class="form-group row">
          <div class="col-md-12">
          <input type="email" class="form-control" placeholder="Your Email Id">
          </div>
           </div>
          <div class="form-group row">
            <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Mobile Number"required>
            </div>
          </div>			
          <div class="form-group row">
           <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Reason For Contact" required>
          </div>
          </div>
    
          <div class="row">
          <div class="col-md-12">
          <button class="btn btn-success btn-block">Request a Call Back</button>
          </div>
          </div>
        </form>
        </div>
        </div>
        <h5 id="oneclr"><b>No call out fees</b></h5>
        <h5 id="secclr"><b>24 hour emergency service</b></h5>
        <h5 id="oneclr"><b>Half hourly charging</b></h5>
        <h5 id="secclr"><b>Highly competitive rates</b></h5>
        <h5 id="oneclr"><b>Skills to take care of any job</b></h5>
        <h5 id="secclr"><b>Accredited expert engineers</b></h5>
        <h5 id="oneclr"><b>Fast response times</b></h5>
        </div>
    </div>	
    </section>
    